@import url('https://fonts.googleapis.com/css2?family=Mogra&display=swap');

.work-area {
  width: 90vw;
  height: 80vh;
  margin: 2rem auto;
  border-radius: 30px;
  position: relative;
  background: lavender;
  text-align: center;
  color: gray;
  font-size: 2.5rem;
}
.work-area h3{
  font-family: "Mogra", cursive;
  font-weight: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addnote-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.icon-back {
  background-color: #ffd700 !important;
  box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.5);
}

.add-icon {
  font-size: 3rem !important;
  color: black;
}

.notes-window {
  display: flex;
  font-size: 0;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: center;
  background: transparent;
  opacity: 1 !important;
}

.notes-window::-webkit-scrollbar {
  display: none;
}

.note {
  display: flex;
  width: 30%;
  height: 10rem;
  flex-direction: column;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.2) !important;
}

.note-content {
  height: 7rem;
  background: beige !important;
  overflow: hidden;
}

.note-delete {
  background-color: #c0c2c9 !important;
}

.del-btn {
  color: red !important;
  text-decoration: none;
}

@media (max-width: 600px) {
  .work-area {
    margin: 7rem auto;
  }
  .notes-window {
    margin: 2rem 0;
    background: lavender;
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
    padding: 0;
  }

  .note {
    width: 90%;
    margin: 1rem auto;
  }

  .addnote-btn {
    position: fixed;
  }
}
