.auth-nav{
    position: static;
}

.logout-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.settings{
    margin: 0 1rem !important;
}

.menu-list{
    padding: 0.5rem 1rem !important;
    margin: 2rem 0;
}

.divider{
    padding: 0 !important;
    overflow-y: hidden;
    margin: 0.2rem 0 !important;
    margin: auto;

}

.settings-icons{
    margin-right: 1rem;
}

.expandicons{
    margin-left: auto;
    margin-right: 0.5rem;
}

.listicons{
    cursor: pointer !important;
    text-decoration: none !important;
    color: grey !important;
}

@media (max-width: 600px)
{

    .logout-menu{
        flex-direction: column;
        margin-left: -3rem;
    }

    .settings{
        display: flex;
        flex-direction: row;
    }

    .welcome h3{
        font-size: 1rem;
        margin-top: -0.5rem;
    }

    .logout{
        padding: -2rem 0.5rem!important;
        font-size: 0.7rem !important;
        border-radius: 20px !important;
    }

}