.edit-modal {
  width: 50vw;
  height: fit-content;
  background: white;
  position: relative;
}

.note-textarea {
  border-radius: 5px;
  color: grey;
  border: 0.1px solid lightgray;
  padding: 1rem;
  height:  25rem !important;
}

.note-textarea:focus {
  border: 2px solid purple;
  outline: 0;
  box-shadow: none;
}

.note-textarea:focus::-webkit-input-placeholder{
    opacity: 0;
  }

.note-textarea:focus::-moz-placeholder{
    opacity: 0;
  }
  
.note-textarea:focus::-ms-placeholder{
  opacity: 0;
}

.note-heading{
  color: black;
}

.control-buttons{
  display: flex;
  gap: 1rem;
  float: right;
  margin-bottom: 1rem;
  margin-right: 1.3rem;
}

@media (max-width: 1024px){
  .edit-modal {
    overflow: hidden;
    padding-right: 0.8rem;
    padding-left: 0rem;
  }
  
  .dialog{
    height: fit-content !important;
    position: absolute !important;
    top: 20% !important;
    overflow: hidden;
  }
  
  .note-textarea{
    padding: 0.5rem;
    font-size: 0.75rem !important;
  }
  
  .control-buttons{
  margin-right: 0.6rem;
  }
  
}

@media (max-width: 600px){
  .dialog{
    width: 90% !important;
    height: fit-content !important;
    position: absolute !important;
    top: 5% !important;
    margin: auto;
    overflow: hidden;
    border-radius: 10px !important;
  }
  .edit-modal {
    width: 100% !important;
    border-radius: 10px !important;
    margin: auto;
    
  }
  .note-textarea{
    height: 36vh !important;
  }

   .control-buttons{
   margin-right: 0;
  }

  
}