.updatingArea{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    text-align: center;
    border: 5px solid#7B3F00 !important;
    position: relative;
    padding: 1rem;
}

.changebtn{
    width: 25% !important;
    padding: 0.5rem 1rem;
    border: 2px solid#7B3F00 !important;
    color: #7B3F00 !important;
    font-weight: 700 !important;
}

.closebtn{
    position: absolute !important;
    top: 0rem !important;
    right: -45% !important;
    cursor: pointer;
}